/**
The following rules remove the padding from the first and last child
of the parent which can be used to better control the
spacing between elements where you want to keep elements close to the top.
 */

// CSS Version for quick copy-paste
.margin-rest:first-child { margin-top: 0; }
.margin-rest:last-child { margin-bottom: 0; }

// Nested CSS Example (LESS & SCSS)
.margin-rest {
	& > :first-child {
		margin-top: 0;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

