main {
  box-sizing: border-box;
  background: #cccccc;
  text-align: center;
  height: calc(100% - 64px);
  padding-top: 50px;
}

iframe {
  margin: 0 auto;
  height: 98%;
  transition: width 1s ease;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.footer-toolbar {
  position: absolute;
  bottom: 0;
}

#refresh {
  position: absolute;
  right: 15px;
  top: 75px;
}
