.card {
  margin-bottom: 30px;
}

.input-form {
  margin-top: 30px;
}

.result {
  color: #1cdee4;
}
.jumbotron {
  color: white;
  background: #242843;
}

main {
  min-height: 100%;
  background: #242843;
}
